.header {
    height: 100px; 
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blueviolet;
    position: fixed;
    top: 0;
    left: 0; 
    width: 100%; 
    z-index: 1000;
}

.header-logo {
    height: 150px;
    padding: 20px;
}